* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow: hidden;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
}

/* GAME */

.game {
  position: absolute;
  z-index: 3;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(76, 142, 123, 0.621);
}

.score {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 30px;
  color: rgb(37, 37, 37);
  text-transform: uppercase;
  padding: 0 10px;
}

.btn-reset {
  color: rgb(158, 0, 0);
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-reset:hover {
  color: rgb(255, 30, 30);
}

.wrap {
  position: relative;
  z-index: 3;
  max-width: 300px;
  display: flex;
  justify-content: center;
}

/* TABLE  */

.record {
  margin-top: 10px;
}

.table,
td,
th {
  border-bottom: 1px solid rgb(69, 68, 68);
  border-collapse: collapse;
}

.table {
  text-align: left;
  table-layout: fixed;
  color: rgb(96, 100, 175);
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

tr td:first-child {
  border-right: 1px solid black;
}

.caption {
  color: rgb(0, 0, 0);
  font-weight: bold;
}

th {
  color: rgb(0, 0, 0);
  font-weight: 100;
}

/* MODAL */

.modal-wrap {
  display: none;
  position: absolute;
  z-index: 4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: beige;
}

.modal {
  padding: 10px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  background-color: rgb(36, 6, 6);
  border: 1px solid rgb(212, 26, 26);
}

.win {
  background-color: rgb(4, 90, 25);
  border: 1px solid rgb(79, 211, 31);
}

.close-modal {
  position: absolute;
  display: block;
  right: 10px;
  top: -5px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
}

.close-modal:hover {
  transform: scale(1.3);
}

.close-modal:active {
  transform: scale(0.8);
}

.result-game {
  font-size: 50px;
  text-align: center;
}

.modal-score {
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  background-color: rgba(160, 0, 0, 0.382);
  padding: 0 10px;
  margin-bottom: 10px;
}

.score-result {
  font-weight: bold;
}

input {
  padding: 0 10px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.475);
  outline: none;
  font-size: 17px;
  color: antiquewhite;
  width: 100%;
  height: 30px;
}

.ico {
  display: block;
  width: 20px;
  position: absolute;
  right: 11px;
  bottom: 5px;
  cursor: pointer;
}

.ico:hover {
  color: #b25300;
}

/* BTN-MODAL */

.btn_new-game {
  font-size: 15px;
  color: antiquewhite;
  text-transform: uppercase;
  padding: 10px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid rgb(212, 26, 26);
  transition: background-color 0.2s ease;
}

.btn_new-game:hover {
  background-color: rgba(255, 0, 0, 0.399);
}

.btn_new-game:active {
  background-color: rgba(37, 5, 5, 0.556);
}

/* BTN-WIN  */

.btn-win {
  border: 1px solid rgb(79, 211, 31);
}

.btn-win:hover {
  background-color: rgba(28, 166, 19, 0.851);
}

.btn_win:active {
  background-color: rgba(4, 59, 14, 0.836);
}

/* FOOTER */

.wrap-footer {
  position: absolute;
  width: 100%;
  z-index: 3;
  bottom: 0;
  background-color: #fd9c4ed1;
}

footer a {
  border-radius: 50%;
  transition: all 0.3s ease;
}

footer a:hover {
  transform: scale(1.1);
}

.year {
  transition: all 0.4s ease;
}

.year:hover {
  color: rgb(255, 255, 255);
  transform: rotate(360deg);
}

footer {
  padding: 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
}
