* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: red; */
  overflow: hidden;
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  color: #fff;
}

#matrix-canvas {
  width: 100vw;
  height: 100vh;
  /* background-color: #fff; */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
}

#canvas {
  border: 1px solid rgba(255, 255, 0, 0.086);
  /* background-color: red; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.wrap {
  position: relative;
  z-index: 3;
  /* background-color: #fff; */
  max-width: 300px;
}
.record {
  margin-top: 10px;
  color: rgb(79, 211, 31);
  background-color: rgba(0, 0, 0, 0.437);
  border: 1px solid rgb(79, 211, 31);
}

.table,
td,
th {
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.table {
  text-align: left;
  table-layout: fixed;
  width: 100%;
}

td,
th {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 30px;
  padding-left: 20px;
}

.score {
  width: 100px;
}

.caption {
  color: #fff;
  background-color: rgba(113, 247, 139, 0.315);
}

th {
  color: #fff;
  font-weight: 100;
}

label {
  display: block;
  text-align: left;
  position: relative;
  width: 100%;
  padding: 10px;
  /* padding-right: 20px; */
  /* background-color: blue; */
}

input {
  padding: 2px 20px;
  background-color: rgba(113, 247, 139, 0.315);
  border: 1px solid rgb(79, 211, 31);
  outline: none;
  font-size: 20px;
  color: #fff;
  width: 100%;
  height: 30px;
}

.ico {
  display: block;
  width: 20px;
  /* background-color: #fff; */
  position: absolute;
  right: 11px;
  bottom: 13px;
  cursor: pointer;
}
